<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style3.css">
    <title>Информационно-расчетная система</title>
</head>

<body>

    <header class="header-container">
        <div class="logo">
            <h1>Информационно-расчетная система</h1>
            <p>Управляй своими расходами</p>
        </div>
    </header>

    <main>
<!--        <form th:action="@{/person/add}" method="post">-->
<!--            <label>Name:</label><br>-->
<!--            <input type="text" th:field="${person.name}"><br>-->
<!--            <label>Last Name:</label><br>-->
<!--            <input type="text" th:field="${person.lastName}"><br>-->
<!--            <label>Post Name:</label><br>-->
<!--            <input type="text" th:field="${person.postName}"><br>-->
<!--            <label>Number:</label><br>-->
<!--            <input type="text" th:field="${person.number}"><br>-->
<!--            <label>Email:</label><br>-->
<!--            <input type="text" th:field="${person.email}"><br>-->
<!--            <input type="submit" value="Submit">-->
<!--        </form>-->

<!--        <section class="meter-reading-container">-->
<!--            <div th:each="entry : ${meters}">-->
<!--                <h2 class="section-nav-header" th:text="${entry.key.getId()}"></h2>-->
<!--                &lt;!&ndash; Ваш action должен указывать на URL, который обрабатывается вашим методом POST в контроллере &ndash;&gt;-->
<!--                <form th:action="@{/meter-readings/add}" method="post">-->
<!--                    <div th:each="meter, meterStat : ${entry.value}">-->
<!--                        <label th:text="${'Номер счетчика ' + meter.getId()}"></label>-->
<!--                        <span th:text="${meter.getCounterNumber()}"></span>-->
<!--                        <input type="hidden" th:name="'counterNumbers[' + ${meterStat.index} + ']'" th:value="${meter.getCounterNumber()}" />-->
<!--                        <input type="text" th:id="'reading-' + ${meter.getId()}" th:name="'readings[' + ${meterStat.index} + ']'" placeholder="Показания" required><br>-->
<!--                    </div>-->
<!--                    <button type="submit">Отправить</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <p>Прием показаний разрешен с 18 до 23 числа текущего месяца.</p>-->
<!--        </section>-->

        <section class="meter-reading-container">
            <div th:each="entry : ${meters}">
                <h2 class="section-nav-header" th:text="${entry.key.getId()}"></h2>
                <!-- Ваш action должен указывать на URL, который обрабатывается вашим методом POST в контроллере -->
                <form th:action="@{/meter-readings/add}" method="post">
                    <div th:each="meter, meterStat : ${entry.value}">
                        <label th:text="${'Номер счетчика ' + meter.getId()}"></label>
                        <span th:text="${meter.getCounterNumber()}"></span>
                        <input type="text" th:id="'reading-' + ${meter.getId()}" th:name="${meter.getCounterNumber()}" placeholder="Показания" required><br>
                    </div>
                    <button type="submit">Отправить</button>
                </form>
            </div>
            <p>Прием показаний разрешен с 18 до 23 числа текущего месяца.</p>
        </section>

        <section class="meter-history-container">
            <h2 class="section-nav-header">История внесения показаний ИПУ</h2>
            <table>
                <!-- Таблица с историей показаний остается без изменений -->
            </table>
        </section>

        <section class="meter-history-container">
            <h2 class="section-nav-header">История внесения показаний ИПУ</h2>
            <table>
                <thead>
                    <tr>
                        <th>Серийный номер</th>
                        <th>Услуга</th>
                        <th>Годен до</th>
                        <th>Январь</th>
                        <th>Февраль</th>
                        <th>Март</th>
                        <th>Апрель</th>
                        <th>Май</th>
                        <th>Июнь</th>
                        <th>Июль</th>
                        <th>Август</th>
                        <th>Сентябрь</th>
                        <th>Октябрь</th>
                        <th>Ноябрь</th>
                        <th>Декабрь</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>19291935</td>
                        <td>Горячая вода</td>
                        <td>09.06.2027</td>
                        <td>239.000</td>
                        <td>241.000</td>
                        <td>...</td>
                        <td>245.000</td>
                        <td>247.000</td>
                        <td>249.000</td>
                        <td>252.000</td>
                        <td>255.000</td>
                        <td>257.000</td>
                        <td>261.000</td>
                        <td>265.000</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>15454733</td>
                        <td>Горячая вода</td>
                        <td>09.06.2027</td>
                        <td>239.000</td>
                        <td>241.000</td>
                        <td>...</td>
                        <td>245.000</td>
                        <td>247.000</td>
                        <td>249.000</td>
                        <td>252.000</td>
                        <td>255.000</td>
                        <td>257.000</td>
                        <td>261.000</td>
                        <td>265.000</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>67323533</td>
                        <td>Холодная вода</td>
                        <td>09.06.2027</td>
                        <td>239.000</td>
                        <td>241.000</td>
                        <td>...</td>
                        <td>245.000</td>
                        <td>247.000</td>
                        <td>249.000</td>
                        <td>252.000</td>
                        <td>255.000</td>
                        <td>257.000</td>
                        <td>261.000</td>
                        <td>265.000</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>32454653</td>
                        <td>Холодная вода</td>
                        <td>09.06.2027</td>
                        <td>239.000</td>
                        <td>241.000</td>
                        <td>...</td>
                        <td>245.000</td>
                        <td>247.000</td>
                        <td>249.000</td>
                        <td>252.000</td>
                        <td>255.000</td>
                        <td>257.000</td>
                        <td>261.000</td>
                        <td>265.000</td>
                        <td>...</td>
                    </tr>
                    <!-- Добавьте остальные записи аналогичным образом -->
                </tbody>
            </table>
        </section>

    </main>

    <footer class="footer-container">
        <p>© 2014-2023 1С:ЕРЦ Квартплата.</p>
    </footer>

</body>

</html>
